.main {
    width: 750px;
    margin: 10px auto 200px auto;
}

.player {
    margin-top: 1px;
    display: flex;
    border: 3px solid #ccc;
    box-shadow: 5px 10px 10px #888;
    border-radius: 10px;
}